{%  extends 'gestionclient/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-2 grid-margin stretch-card"></div>
  <div class="col-md-8 grid-margin">
    <br>
      <div class="card">
        <div class="card-body ">
          <div class="d-flex justify-content-center">
            <h2 class="">{{ titre }} un nouveau client</h2>
          </div>
          <p class="card-description">
            <br>
            <br>
          </p>
          <!-- <form action="" method="post">
              {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4"></legend>
                  {{ form.as_p }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-info" type="submit">Ajouter</button>
              </div>
          </form> -->
          <form class="forms-sample" method="POST">
            {% csrf_token %}
            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Type</label>
              <div class="col-sm-9">
                <!-- <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email"> -->
                {{ form.type }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputMobile" class="col-sm-3 col-form-label">Nom</label>
              <div class="col-sm-9">
                <!-- <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number"> -->
                {{ form.nom }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Adresse</label>
              <div class="col-sm-9">
                <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"> -->
                {{ form.adresse }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Téléphone</label>
              <div class="col-sm-9">
                <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"> -->
                {{ form.téléphone }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Fax</label>
              <div class="col-sm-9">
                <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"> -->
                {{ form.fax }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"> -->
                {{ form.email }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Siteweb</label>
              <div class="col-sm-9">
                <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"> -->
                {{ form.siteweb }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Boite Postale</label>
              <div class="col-sm-9">
                <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"> -->
                {{ form.boite_postale }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">NIF</label>
              <div class="col-sm-9">
                <!-- <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password"> -->
                {{ form.nif }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2" value="{{ titre }}">{{ titre }}</button>
            <a href="{% url 'listeClient_page'  %}"><button type="button" class="btn btn-light ml-5 mr-3">Retour</button></a>
          </form>
        </div>
      </div>
      <div></div>
  </div>
  <div class="col-md-2 grid-margin stretch-card"></div>
</div>

  {% endblock %}