{%  extends 'gestionclient/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <br>
        <div class="card">
            <div class="card-body ">
                    <div class="d-flex justify-content-center">
                        <h5 class="text-center text-uppercase">Faisceaux Hertzien</h5>
                    </div>
                    <p class="card-description">

                    <br>
                    <br>
                    </p>  
                    <div class=" p-1 mb-3">
                        <div class=" row">
                            <label for="exampleInputPassword2" class="col-sm-3 ">Client : </label>
                            <div class="col-sm-9 text-uppercase">
                                <h5>{{ fh.client.nom }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <label for="exampleInputPassword2" class="col-sm-3 ">Bande : </label>
                            <div class="col-sm-9 text-uppercase">
                                <h5>{{ fh.bande }} GHz</h5>
                            </div>
                        </div>
                        <div class="row">
                            <label for="exampleInputPassword2" class="col-sm-3 ">Bande Passante : </label>
                            <div class="col-sm-9 text-uppercase">
                                <h5>{{ fh.bande_passante }} MHz</h5>
                            </div>
                        </div>
                        <div class="row">
                            <label for="exampleInputPassword2" class="col-sm-3 ">Nombre de canaux : </label>
                            <div class="col-sm-9 text-uppercase">
                                <h5>{{ fh.nombre_canaux }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <label for="exampleInputPassword2" class="col-sm-3 ">Date d'attribution : </label>
                            <div class="col-sm-9 text-uppercase">
                                <h5>{{ fh.dateAtri }}</h5>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 ">
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row "> 
                    <div class="col-sm-3 d-flex flex-start align-items-center">
                        <div class="mx-2   p-2">
                            {% if name == 'technicien' %}
                            <a href="{% url 'ListeFH'  %}"><button type="button" class="btn btn-dark">retour</button></a>
                            <a href=""><button type="button" class="btn btn-dark">print</button></a>
                            {% else %}
                            <a href="{% url 'ListeFH_af'  %}"><button type="button" class="btn btn-dark">retour</button></a>
                            <a href=""><button type="button" class="btn btn-dark">print</button></a>
                           
                            {% endif %}
                         </div>
                    </div>
                    <div class="col-sm-9 d-flex justify-content-center align-items-center">
                            
                            {% if fh.facturer == 'non' %}
                            <!-- <a href=""><button type="button" class="btn btn-dark"><i class="icon-arrow-right" ></i> </button></a> -->
                            <div class="mx-2 row d-flex flex-column align-items-center  p-2">
                                <label  class="">Envoyer pour facturation </label>
                                <a href="{% url 'pourFacturerFH' fh.id %}"><button type="button" class="btn btn-info" ><i class="icon-arrow-right"></i></button></a>
                            </div>
                            <div class="mx-2 row d-flex flex-column align-items-center  p-2">
                                <label  class="">Supprimer </label>
                                <a href=""><button type="button" class="btn btn-danger" ><i class="icon-cross"></i></button></a>
                            </div>
                            {% endif %}
                </div>
            </div> 
        </div>
    </div>
    <br>
    <br>
</div>
<br>

{% endblock %}