{%  extends 'gestionclient/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-2 grid-margin stretch-card"></div>
  <div class="col-md-8 grid-margin">
    <br>
      <div class="card">
        <div class="card-body ">
          <div class="d-flex justify-content-center">
            <h2 class="">{{ titre }} AB</h2>
          </div>
          <p class="card-description">
            <br>
            
            
            <br>
          </p>
         
          <form class="forms-sample" method="POST">
            {% csrf_token %}
            <div class="form-group row ">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">PQ</label>
              <div class="col-sm-9">
                {{ pq.pq }}
              </div>
            </div>
            <div class="form-group row d-none">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">PQ</label>
              <div class="col-sm-9">
                {{ form.pq }}
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">AB</label>
              <div class="col-sm-9">
                {{ form.ab }}
              </div>
            </div>
            <!-- <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Date d'attribution</label>
                <div class="col-sm-9">
                  {{ ab.dateAtri }}
                </div>
            </div> -->
            <button type="submit" class="btn btn-primary mr-2" value="{{ titre }}">{{ titre }}</button>
            <a href="{% url 'detailsPQ' pq.id %}"><button type="button" class="btn btn-light">retour</button></a>
          </form>
        </div>
      </div>
      <div></div>
  </div>
  <div class="col-md-2 grid-margin stretch-card"></div>
</div>

  {% endblock %}