{%  extends 'gestionclient/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-2 grid-margin stretch-card"></div>
  <div class="col-md-8 grid-margin">
    <br>
      <div class="card">
        <div class="card-body ">
          <div class="d-flex justify-content-center">
            <h2 class="">{{ titre }} Certificat d'Homologation</h2>
          </div>
          <p class="card-description">
            <br>
            
            
            <br>
          </p>
         
          <form class="forms-sample" method="POST">
            {% csrf_token %}
            <div class="form-group row d-none ">
                <label for="exampleInputPassword2" class="col-sm-3 ">Client : </label>
                <div class="col-sm-9 text-uppercase">
                    <h5>{{ form.client}}</h5>
                </div>
            </div>
            <div class="form-group row d-none ">
                <label for="exampleInputPassword2" class="col-sm-3 ">Equipement : </label>
                <div class="col-sm-9 text-uppercase">
                    <h5>{{ form.equipement }}</h5>
                </div>
            </div>
            <div class="form-group row d-none ">
                <label for="exampleInputPassword2" class="col-sm-3 ">Categorie : </label>
                <div class="col-sm-9 text-uppercase">
                    <h5>{{ form.categorie }}</h5>
                </div>
            </div>
            <div class="form-group row ">
                <label for="exampleInputPassword2" class="col-sm-3 ">Client : </label>
                <div class="col-sm-9 text-uppercase">
                    <h5>{{ homologation.client.nom }}</h5>
                </div>
            </div>
            <!-- <div class="form-group row d-none ">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Contact</label>
              <div class="col-sm-9">
                {{ form.contact }}
              </div>
            </div> -->
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 ">Equipement : </label>
                <div class="col-sm-9 text-uppercase">
                    <h5>{{ homologation.equipement.designation }}</h5>
                </div>
            </div>
            <!-- <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">category</label>
              <div class="col-sm-9">
                {{ form.category }}
              </div>
            </div> -->
            <!-- <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Equipement</label>
                <div class="col-sm-9">
                  {{ form.nature }}
                </div>
              </div> -->
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 ">Categorie : </label>
                <div class="col-sm-9 text-uppercase">
                    <h5>{{ homologation.categorie}}</h5>
                </div>
              </div>
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Date d'attribution : </label>
                <div class="col-sm-9">
                  {{ form.dateAttri }}
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Date d'expiration : </label>
                <div class="col-sm-9">
                  {{ form.dateExp }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2" value="{{ titre }}">{{ titre }}</button>
            <a href="{% url 'detailHomologation' homologation.id %}"><button type="button" class="btn btn-light">retour</button></a>
          </form>
        </div>
      </div>
      <div></div>
  </div>
  <div class="col-md-2 grid-margin stretch-card"></div>
</div>

  {% endblock %}