{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags --> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static '/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static '/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static '/vendors/base/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static '/vendors/flag-icon-css/css/flag-icon.min.css' %}"/>
  <link rel="stylesheet" href="{% static '/vendors/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static '/vendors/jquery-bar-rating/fontawesome-stars-o.css' %}">
  <link rel="stylesheet" href="{% static '/vendors/jquery-bar-rating/fontawesome-stars.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <!-- endinject -->
  <!-- icone dans le title de l'onglet -->
  <!-- <link rel="shortcut icon" href="{% static '/images/favicon.png' %}" /> -->
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class=" navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <!-- <a class="navbar-brand brand-logo btn-primary" href="base.html">ARCT</a> -->
        <!-- <h4 class="btn-primary" >ARCT</h4> -->
        <!-- <img src="{% static '/images/logo.svg' %}" alt="logo"/> -->
        <!-- <a class="navbar-brand brand-logo-mini" href="base.html"><img width="5" height="5" src="{% static '/images/logoARCT.png' %}" alt="logo"/></a> -->
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-lg-flex d-none">
                <!-- <a href="{% url 'logout' %}"><button type="button" class="btn btn-info font-weight-bold">Logout</button></a> -->
            </li>
            <li class="nav-item dropdown d-flex mr-4 ">
              <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="icon-cog"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Profile</p>
                <a class="dropdown-item preview-item">               
                    <i class="icon-head"></i>{{ user.get_username}}
                </a>
                <!-- <a href="{% url 'logout' %}"><button type="button" class="btn btn-info font-weight-bold">Logout</button></a> -->
                <a href="{% url 'login_page' %}" class="dropdown-item preview-item ">
                    <!-- <i class="icon-inbox"></i> Logout <a href="{% url 'logout' %}"></a> -->
                    <button type="button" class="btn btn-info font-weight-bold">Logout</button>
                </a>
                {% if request.user.is_staff %}
                <a href="{% url 'admin:index' %}" class="dropdown-item preview-item ">
                    <button type="button" class="btn btn-info font-weight-bold">Admin</button>
                </a>
                {% endif %}
              </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="icon-box menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li> -->
          
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#u-basic" aria-expanded="false" aria-controls="u-basic">
              <i class="fa-solid fa-user-group menu-icon"></i>
              <span class="menu-title">Clients</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="u-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'listeClient_page' %}">Liste des clients</a></li>
                <li class="nav-item"><a class="nav-link" href="">Personne de contact</a></li>
              </ul>
            </div>
          </li> -->
          {% load auth_extras %}
          {% if request.user|has_group:"finance" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listeClient_page' %}">
              <i class="fa-solid fa-user-group menu-icon"></i>
              <span class="menu-title">Stats</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#numero-basic" aria-expanded="false" aria-controls="numero-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Numerotations
                {% if facturer > 0 %}
                <label class="badge badge-warning">{{ facturer }}</label>
                {% endif %}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="numero-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'Listeff' %}">Fiche Facturation
                  {% if facturer > 0 %}
                <label class="badge badge-warning">{{ facturer }}</label>
                {% endif %}
                </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'Listefactfiche' %}">Liste des factures</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li> -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#agrement-basic" aria-expanded="false" aria-controls="agrement-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Agrement
                {% if certAgr > 0 %}
                <label class="badge badge-warning">{{ certAgr }}</label>
                {% endif %}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="agrement-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListCetAfact' %}">Fiche Facturation
                  {% if certAgr > 0 %}
                <label class="badge badge-warning">{{ certAgr }}</label>
                {% endif %}
                </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#conformite-basic" aria-expanded="false" aria-controls="conformite-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Conformite
                {% if conf > 0 %}
                <label class="badge badge-warning">{{ conf }}</label>
                {% endif %}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="conformite-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListCertConfAfact' %}">Liste conformite
                  {% if conf > 0 %}
                  <label class="badge badge-warning">{{ conf }}</label>
                  {% endif %}
                </a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li> -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#homologation-basic" aria-expanded="false" aria-controls="homologation-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Homologation
                {% if homolo > 0 %}
                <label class="badge badge-warning">{{ homolo }}</label>
                {% endif %}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="homologation-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListCertHomAfact' %}">Liste Homologation
                  {% if homolo > 0 %}
                <label class="badge badge-warning">{{ homolo }}</label>
                {% endif %}
                </a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li> -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTaux' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Taux</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTarifNum' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Tarif Numero</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTarifFSVANum' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Tarif FSVA</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTarifsHomo' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Tarif Homologation</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTarifsAgr' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Tarif Agrement</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTarifsConf' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Tarif Conformite</span>
            </a>
          </li>
          {% endif %}
          {% if request.user|has_group:"technicien" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listeClient_page' %}">
              <i class="fa-solid fa-user-group menu-icon"></i>
              <span class="menu-title">Clients</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#numero-basic" aria-expanded="false" aria-controls="numero-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Numerotations
                {% if totalnum > 0 %}
                <label class="badge badge-warning">{{ totalnum }}</label>
                {% endif %}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="numero-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeFFNumero' %}">Fiche Facturation
                  {% if afacturer > 0 %}
                <label class="badge badge-warning">{{ afacturer }}</label>
                  {% endif %}
                </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeNumCourt' %}">Numero Court
                  {% if numcourt  > 0 %}
                <label class="badge badge-warning">{{ numcourt }}</label>
                  {% endif %}
                </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListePQ' %}">Numero Long
                  {% if pq > 0 %}
                <label class="badge badge-warning">{{ pq }}</label>
                {% endif %}
                </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#agrement-basic" aria-expanded="false" aria-controls="agrement-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Agrement
                {% if agrements > 0 %}
                <label class="badge badge-warning">{{ agrements }}</label>
                {% endif %}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="agrement-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'CertListAgr_page' %}">Liste Cert Agr
                  {% if agrements > 0 %}
                <label class="badge badge-warning">{{ agrements }}</label>
                {% endif %}
                </a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li> -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#conformite-basic" aria-expanded="false" aria-controls="conformite-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Conformite
                {% if confor > 0 %}
                <label class="badge badge-warning">{{ confor }}</label>
                {% endif %}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="conformite-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListCertConf' %}">Liste conformite
                  {% if confor > 0 %}
                <label class="badge badge-warning">{{ confor }}</label>
                {% endif %}
                </a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li> -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#homologation-basic" aria-expanded="false" aria-controls="homologation-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Homologation
                {% if homo > 0 %}
                <label class="badge badge-warning">{{ homo }}</label>
                {% endif %}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="homologation-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeHomo' %}">Fiche Facturation
                  {% if homo > 0 %}
                <label class="badge badge-warning">{{ homo }}</label>
                {% endif %}
                </a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li> -->
              </ul>
            </div>
          </li>
          {% endif %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listeClient_page' %}">
              <i class="fa-solid fa-user-group menu-icon"></i>
              <span class="menu-title">Stats</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listeClient_page' %}">
              <i class="fa-solid fa-user-group menu-icon"></i>
              <span class="menu-title">Clients</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#numero-basic" aria-expanded="false" aria-controls="numero-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Numerotations</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="numero-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeFFNumero' %}">Fiche Facturation</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeNumCourt' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListePQ' %}">Numero Long</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#agrement-basic" aria-expanded="false" aria-controls="agrement-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Agrement</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="agrement-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeHomo' %}">Fiche Facturation</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#conformite-basic" aria-expanded="false" aria-controls="conformite-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Conformite</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="conformite-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeHomo' %}">Fiche Facturation</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#homologation-basic" aria-expanded="false" aria-controls="homologation-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert.Homologation</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="homologation-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeHomo' %}">Fiche Facturation</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Numero Long</a></li>
              </ul>
            </div>
          </li>

          {% endif %}
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'listeClient_page' %}">
              <i class="fa-solid fa-user-group menu-icon"></i>
              <span class="menu-title">Clients</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CertListAgr_page' %}">
              <i class="icon-clipboard menu-icon"></i>
              <span class="menu-title">Certificat Agrement</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListCertConf' %}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Certificat Conformite</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeMegas' %}">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Megas</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeMinutes' %}">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Minutes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeCA' %}">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Chiffre d'Affaire</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeFR' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Frequence Radio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeFH' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Faisceaux Hertzien</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeFFNumero' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Fiche Facturation</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTaux' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Taux</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTarifNum' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Tarif Numero</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ListeTarifFSVANum' %}">
              <i class=" menu-icon"></i>
              <span class="menu-title">Tarif FSVA</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Listeff' %}">
              <i class=" menu-icon"></i>
              
              <span class="menu-title">Numeros a facturer
                {% if afacturer > 0 %}
                <label class="badge badge-warning">{{ afacturer }}</label>
                {% endif %}
              </span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'ListCertConf' %}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Certificat Homologation</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#u-basic" aria-expanded="false" aria-controls="u-basic">
              <i class="icon-circle-check menu-icon"></i>
              <span class="menu-title">Cert. Homologation</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="u-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeHomo' %}">Liste des Homologations</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListConstructeur' %}">Liste des constructeurs</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListEqui' %}">Liste des equipements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#o-basic" aria-expanded="false" aria-controls="o-basic">
              <i class="icon-square-plus menu-icon"></i>
              <span class="menu-title">Numerotations</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="o-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeNumCourt' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListeNumCourt' %}">Numero Court</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ListePQ' %}">Numero Long</a></li>
              </ul>
            </div>
          </li> -->
      
          
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#uu-basic" aria-expanded="false" aria-controls="uu-basic">
              <i class="fa-solid fa-user-group menu-icon"></i>
              <span class="menu-title">Certificat</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="uu-basic">
              <ul class="nav flex-column ">
                <li class="nav-item"><a class="nav-link" href="">Agrement</a></li>
                <li class="nav-item"><a class="nav-link" href="">Personne de contact</a></li>
              </ul>
            </div>
          </li> -->
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                  {% if message.tags == "error" %}
                  <br>
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                  {% else %}
                  <br>
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                  {% endif %}
                  
                {% endfor %}
            {% endif%}
            {% block content %}

            {% endblock %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="{% static '/vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static '/js/off-canvas.js' %}"></script>
  <script src="{% static '/js/hoverable-collapse.js' %}"></script>
  <script src="{% static '/js/template.js' %}"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="{% static '/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static '/vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static '/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>

