{%  extends 'gestionclient/base.html' %}

{% block content %}
<!-- <div class="row d-flex m-5" id="cont" >
    <div class="col-lg-12 grid-margin">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
    </div>
</div>
      
</div>
</div>
</div>
</div> -->


{% endblock %}