{%  extends 'gestionclient/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin">
        <br>
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                   <h4>Liste des Fiches de Facturation</h4> 
                </div>
                
                <p class="card-description">
                <a href="{% url 'ListeCli' %}"><button type="button" class="btn btn-primary">Ajouter</button></a>
                  </p>
                  <div class="row">
                    <div class="col">
                        <div class="card card-body">
                            <form method="get">
                                {{ myfilter.form }}
                            <button class="btn btn-primary" type="submit">Rechercher</button>
                          </form>
                        </div>
                    </div>
                    
                </div>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Client</th>
                        <!-- <th>Type Client</th> -->
                        <!-- <th>Nature</th> -->
                        <th>Date</th>
                        <th>Envoyer pour Facturer</th>
                        <!-- <th>Status</th> -->
                        <th colspan="5"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if FF_numeros %}
                    {% for numero in numeros %}
                    <tr>
                        <td>{{ numero.client.nom }}</td>
                        <!-- <td>{{ numero.client.type }}</td> -->
                        <!-- <td>{{ numero.nature }}</td> -->
                        <td>{{ numero.dateAtri }}</td>
                        <!-- <td>{{ numero.facturer }}</td> -->
                        {% if numero.facturer == 'oui' %}
                        <td><label class="badge badge-success" >{{ numero.facturer }}</label></td>
                        {% else %}
                        <td><label class="badge badge-warning" >{{ numero.facturer }}</label></td>
                        {% endif %}

                        {% if numero.etat == 'actif' %}
                        <!-- <td><label class="badge badge-success" >{{ numero.etat }}</label></td> -->
                        {% else %}
                        <!-- <td><label class="badge badge-warning" >{{ numero.etat }}</label></td> -->
                        {% endif %}
                        <td>
                            <a href="{% url 'detailsFFNumero' numero.id  %}"><button type="button" class="btn btn-primary" ><i class="icon-eye"></i></button></a>
                            <!-- <a href=""><button type="button" class="btn btn-primary" >Ajouter num</button></a> -->
                            <!-- <a href=""><button type="button" class="btn btn-primary" >FF annuelle </button></a> -->
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                            <h2>Pas de certificat</h2>
                    {% endif %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-2 grid-margin"></div> -->
</div>
    
{% endblock %}